<div class="container mb-4">
    <div class="d-flex justify-content-around wrap">
        <div>
            <button
              mat-raised-button 
              color="primary"
              [disabled]="!isRowSelected"
              (click)="sameOfficePosition()"
            >
              Misma oficina y grado
            </button>
        </div>


        <div>
            <button
                mat-raised-button 
                color="primary"
                [disabled]="!isRowSelected"
                (click)="samePositionGrade()"
            >
                Misma Posición y Grado
            </button>
        </div>

        <div>
            <button
                mat-raised-button 
                color="primary"
                [disabled]="!isRowSelected"
                (click)="sameGrade()"
            >
                Mismo Grado
            </button>
        </div>

        <div>
            <button
                mat-raised-button 
                color="primary"
                [disabled]="resetDisabled"
                (click)="reset()"
            >
                Reset
                <i class="bi bi-x-square"></i>
            </button>
        </div>

    </div>
</div>

<br />

<table class="table table-striped">
    <thead class="">
      <tr>
        <th scope="col">Código del empleado</th>
        <th scope="col">Nombre Completo</th>
        <th scope="col">División</th>
        <th scope="col">Posición</th>
        <th scope="col">Grado</th>
        <th scope="col">Fecha de Inicio</th>
        <th scope="col">Cumpleaños</th>
        <th scope="col">Número de Identificación</th>
        <th scope="col">Salario Total</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of rows; let i = index">
        <tr    [ngClass]="{'bg-secondary': rowId === i, '': rowId!== i}" id="{{i}}"  (click)="onSelectSalary(i, row)">
            <th > {{row.employeeCode}}</th>
            <td>{{row.employeeFullName}}</td>
            <td>{{row.divisionName}}</td>
            <td>{{row.positionName}}</td>
            <td>{{row.grade}}</td>
            <td>{{row.beginDate | date}}</td>
            <td>{{row.birthDate | date}}</td>
            <td>{{row.identificationNumber}}</td>
            <td>{{row.totalSalary}}</td>
          </tr>
      </ng-container>
            
        
      
    </tbody>
  </table>
