
<div class="text-center mt-3">
  <h1 >
      <strong>
          Insertar Salario/s
      </strong>
  </h1>
</div>
<br />

<div class="d-flex justify-content-around">
  <mat-form-field 
  *ngIf="names"
  class="example-full-width" 
  appearance="fill">

  <mat-label>empleado</mat-label>
  <input type="text"
          placeholder="Selecciona un empleado"
          aria-label="Number"
          matInput
          [matAutocomplete]="auto"
  >

  <mat-autocomplete  
    #auto="matAutocomplete"
    (optionSelected)="employeeSelected($event)"
    
    >
    <!-- (optionSelected)="employeeSelected($event.source.value)" -->
    <mat-option 
        *ngFor="let name of names" [value]="name"  
    >
      {{name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<div>
  <button
    mat-raised-button color="primary"
    (click)="sendSalaries()"
    [disabled]="!isYearSelected"
  >
    Registrar Salario/s
  </button>
</div>
  
</div><!--Container of the button and the name search bar-->

<form 
  *ngIf="isEmployeeSelected" 
  [formGroup]="salaryForm" 
  
>
  <!---------------------CONTAINER, this is the non-variable section of the form-->
  <div 
    class="d-flex justify-content-around flex-wrap"
  >
      <div class="mt-2 ">
          <h3> Nombre </h3>
          <div class="mt-1">
            <input
            type="text"
            disabled
            placeholder="{{salaryForm.get('employeeName')?.value}}"
            />
          </div>
      </div>

      <div class="mt-2">
        <h3> Apellido </h3>
          <div>
            <input
            disabled
            placeholder= "{{salaryForm.get('employeeSurName')?.value }}"
            />
          </div>
      </div>

      <div class="mt-2">
        <h3>Numer de Indetificaicon</h3>
        <div>
          <input
          disabled
          placeholder= "{{salaryForm.get('identificationNumber')?.value }}"
          />
        </div>
      </div>

      <div class="mt-2">
        <h3> Codigo del Empleado </h3>
        <div>
          <input
          disabled
          placeholder= "{{salaryForm.get('employeeCode')?.value }}"
          />
        </div>
      </div>

      <div class="mt-2">
        <h3> Fecha de inicio </h3>
        <input
          disabled
          placeholder= "{{salaryForm.get('beginDate')?.value | date}}"
        />
      </div>

      <div class="mt-2">
        <h3> Fecha de nacimiento </h3>
        <div>
          <input
          disabled
          placeholder= "{{salaryForm.get('birthdate')?.value | date}}"
          />
        </div>
        
      </div>
  </div><!----------END OF CONTAINER of the non-variable section of the form -------------------->

  <hr  />

  <!----------------SELECT YEAR----------------------------->
 <div class="d-flex justify-content-around mt-4">
  <mat-form-field  class="" appearance="fill">
    <mat-label>Año</mat-label>
    <mat-select 
      (selectionChange)="onSelectedYear($event)"
      >
      <mat-option 
        *ngFor="let year of years" 
        [value]="year"
        >
        {{year}}
      </mat-option>
    </mat-select>
  </mat-form-field>
 </div>
  
<!--CONTINER of Variable data-->
    <div 
        *ngIf="isYearSelected"
        formArrayName="variableData"  
        class="text-center mt-2 ml-4 container row justify-content-around"
        style="min-width:100%"
      >
        <div 
            class="col-6"
            *ngFor="let monthForm of variableData.controls; let i = index"
          >
          <form formGroupName="{{i}}">

            <div class="card" style="width: 30rem;"><!--BEGINING OF CARD-->
              <div class="card-body">
                <h1 class="card-title" color="primary">{{this.yearMonths.get(monthForm?.get('month')?.value)}}</h1>
                <h4 class="card-subtitle mb-2 text-muted" >{{monthForm.get('year')?.value}}</h4>

                <div class="d-flex justify-content-center wrap" style="max-width: 90%;">
                  <div>
                    <mat-form-field [style.width.px]=100 appearance="fill">
                      <mat-label>Oficina</mat-label>
                      <mat-select 
                        formControlName="officeId"
                        >
                        <mat-option 
                          *ngFor="let office of offices" 
                          [value]="office.id"
                          
                          >
                          {{office.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field [style.width.px]=100 appearance="fill">
                      <mat-label>Division</mat-label>
                      <mat-select 
                        formControlName="divisionId"
                        >
                        <mat-option 
                          *ngFor="let division of divisions" 
                          [value]="division.id"
                          >
                          {{division.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   
                    <mat-form-field [style.width.px]=100 appearance="fill">
                      <mat-label>Posicion</mat-label>
                      <mat-select 
                        formControlName="positionId"
                        >
                        <mat-option 
                          *ngFor="let position of positions" 
                          [value]="position.id"
                          >
                          {{position.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field [style.width.px]=100 appearance="fill">
                      <mat-label>Calificacion</mat-label>
                      <mat-select 
                        formControlName="grade"
                        >
                        <mat-option 
                          *ngFor="let grade of grades" 
                          [value]="grade"
                          >
                          {{grade}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <mat-form-field [style.width.px]=140>
                        <mat-label>Salario Base</mat-label>
                        <input 
                          matInput 
                          type="number" 
                          placeholder="salario base"
                          formControlName="baseSalary"
                          >
                      </mat-form-field>
                    </div>

                    <div class="col-12">
                      <mat-form-field [style.width.px]=140>
                        <mat-label>Comision</mat-label>
                        <input 
                          matInput 
                          type="number" 
                          placeholder="Comision del Mes"
                          formControlName="commission"
                          >
                      </mat-form-field>
                    </div>
                    
                    <div class="col-12">


                      <mat-form-field [style.width.px]=140>
                        <mat-label>Bono por Produccion</mat-label>
                        <input 
                          matInput 
                          type="number" 
                          placeholder="Bono por Produccion"
                          formControlName="productionBonus"
                          >
                      </mat-form-field>
                    </div>
                    
                    <div class="col-12">
                      <mat-form-field [style.width.px]=140>
                        <mat-label>Bono de Compensacion</mat-label>
                        <input 
                          matInput 
                          type="number" 
                          placeholder="Bono de compensacion"
                          formControlName="compensationBonus"
                          >
                      </mat-form-field>
                    </div>
                    
                    <div class="col-12">
                      <mat-form-field [style.width.px]=140>
                        <mat-label>Bono de Contribucion</mat-label>
                        <input 
                          matInput 
                          type="number" 
                          placeholder="bono de Contibucion"
                          formControlName="contributions"
                          >
                      </mat-form-field>
                    </div>

                  </div>

                </div>

              </div>
            </div><!--END OF CARD-->

            <br />
          </form>
        </div><!-----------END ngFor-->
      
    </div><!--END CONTINER of Variable data-->
</form>

