<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #6f42c1; color: white">
    <div class="ml-4">
      <a class="navbar-brand" routerLink="/">App Administrativa de Salarios</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto ml-2">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Formulario </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/table" >Tabla</a>
        </li>
      </ul>
    </div>
    
</nav>

<br />
<div class="container">
    <router-outlet></router-outlet>
</div>

   
